<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Piglatinized!</title>
  </head>
  <body>
    <h1>Ur Pig Latinized Words!</h1>
    <%= @h.piglatinize(@user_input)%>
  
  </body>
</html>